@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-1:#403501;
    --color-2:#C5D9D9;
    --color-3:#567073;
    --font-1: "Bebas Neue", system-ui;
    --font-2: "Roboto", system-ui;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--color-3);
    background-image: url(pexels-igrevsky-1862695.jpg);
}
header{
    font-family: var(--font-1);
    font-size: 40px;
    color: var(--color-2);
    background-color: var(--color-1);
    text-decoration: none;
    padding: 10px 10px;
}
.cabecalho:hover{
    color: var(--color-3);
}
a{
    color: var(--color-2);
    text-decoration: none;
    padding: 0px 10px;
}
h1{
    font-family: var(--font-1);
    color: var(--color-2);
    text-align: center;
    padding: 10px;
}
h3{
    font-family: var(--font-1);
    color: var(--color-2);
}
p{
    font-family: var(--font-2);
    color: var(--color-2);
    text-align: justify;
}
.conteudo1{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.conteudo2{
    display: flex;
}
.conteudo2more{
    padding: 50px;
    background-image: -moz-element();
    border-radius: 50px;
    margin: 30px;
    background-color: var(--color-1);
}
.h3{
    padding: 15px;
}
footer{
    color: var(--color-2);
    background-color: var(--color-1);
    text-align: center;
    padding: 0px 50px;
}
::selection {
    background-color:var(--color-3);
    color: var(--color-2);
    border-radius: 10px;
}
.highlight {
    border: 2px solid red; /* Borda ao redor do texto */
    padding: 2px; /* Espaçamento interno */
    background-color: yellow; /* Cor de fundo ao selecionar */
    color: black; /* Cor do texto ao selecionar */
}